<!--The 'step_code' value from the .js file should be used-->
<li id="registerstep" data-bind="fadeVisible: isVisible">
<div class="step-title" data-bind="i18n: 'Register?'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
		<form data-bind="submit: navigateToNextStep" novalidate="novalidate">
			<div class="actions-toolbar" id="shipping-method-buttons-container">
				<div class="primary">
					<button data-role="opc-continue" type="submit" class="button action continue primary">
						<span><!-- ko i18n: 'Continue as guest'--><!-- /ko --></span>
					</button>
				</div>
			</div>
        </form>
    </div>	
	<div id="registerblock"></div>
</li>